h1{
	background: none repeat scroll 0 0 #146EB4;
    border-radius: 0 0 5px 5px;
    color: white;
    margin-bottom: 1em;
    padding: 0.25em 3em;
}

input{
	margin-bottom: 0 !important;
}

p{
	font-weight: bold;
}

